.SignUp {
  width: 300px;
  padding-top: 15px;
  margin: 0 auto;
  max-width: 600px;
  background-color: #d9d5d5b0;
  border-radius: 15px;
  text-align: center;
}

#signingup {
  text-align: center;
}

.form-group {
  text-align: center;
  width: 250px;
}
