

.overlaySignUp{
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background: url("../../../dist/images/AuthBackground.jpg") no-repeat top left fixed;
}

#signingup {
  border:solid;
  border-radius: 30px;
  border-color: rgba(250, 246, 252, 0.933);
  box-shadow: 1px 2px 8px 2px  rgb(178, 158, 194);
  text-align: center;
  width: 400px;
  height: 460px;
  margin:auto;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

#signupsubmit {
  padding:10px;
  width: 80%;;
  border-radius:100px;
}

#submitButton {
  margin-top: 30px;
  margin-bottom: 40px;
}

#signUpHeader {
  margin-top: 20px;
}

.fa-envelope, .fa-lock, .fa-user {
  margin-right: 15px;
  color: rgb(60, 60, 60);
}

.fa-paper-plane {
  margin-left: 10px;
}

.dividerSignUp {
  font-size:10px;
  margin-left: left;
}

