body{
  width:100%;
  height:100%;
  background: url("http://www.pptback.com/uploads/abstract-purple-backgrounds-powerpoint.jpg") no-repeat top right fixed;
  align-content: center;
}

.SignUp {
  width: 20%;
  height: 20%;
  padding-top: 15px;
  margin: 0 auto;
  min-width: 400px;
  text-align: center;
}

#signingup {
  border:solid;
  border-radius: 30px;
  border-color: rgba(250, 246, 252, 0.933);
  box-shadow: 1px 2px 8px 2px  rgb(178, 158, 194);
  text-align: center;
  min-width: 400px;
  height: 460px;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

#signupsubmit {
  background-color: #62297f;
  border-color: #62297f; 
  padding:10px;
  width: 80%;;
  border-radius:100px;
}

#signupsubmit:hover {
  background-color: #491f68;
  border-color: #491f68;
}

#submitButton {
  margin-top: 30px;
  margin-bottom: 40px;
}

#signUpHeader {
  margin-top: 20px;
}

.fa-envelope, .fa-lock, .fa-user {
  margin-right: 15px;
  color: rgb(60, 60, 60);
}

.dividerSignUp {
  font-size:10px;
  margin-left: left;
}

