#profilePage-container {
background: rgb(196, 138, 138);
position:absolute;
height:100%;
width:100%;
}

#profilePage-background{
  background: rgb(255, 229, 253);
  width: 100%;
  height: 150px;
}


#profileUsername-container {
  margin-top:-100px;
}

#profileUsername-container, #completedProjects-container, #currentProjects-container, #technicalSkills-container {

  margin-left:center;
  text-align: center;
  width: 70%;
  margin: auto;
  background: white;

}

#profileUsername {
  font-size: 24px;
}

#profileInfo-container {
  margin-top:-100px;
}

#profileImg {
  width: 150px;
  height: 150px;
  margin-top:-100px;
  border-radius: 50%;
  margin:auto;
  box-shadow:
    inset 0 0 0 2px #302588, 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
  display: block;
  position: relative;
  z-index: 998;
}

#divider {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 30px;
  margin-top: 30px; 
}

#divider:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #f0f0f0;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  background: #fff;
  margin-top: -15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
}
  
#divider:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #752fbb;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  background: #61087e;
  margin-top: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); 
}

#newdivider{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}