#overlayQuestions{
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background: url("../../../dist/images/AuthBackground.jpg") top left fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


#questions-container {
  border:solid;
  border-radius: 30px;
  border-color: rgba(250, 246, 252, 0.933);
  box-shadow: 1px 2px 8px 2px  rgb(178, 158, 194);
  text-align: center;
  min-width: 600px;
  max-width: 600px;
  min-height: 750px;
  margin:auto;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

/* #innerQuestions-container{
  width: 50%;
  margin: center;
} */

.legend-brdr-bttm {
  width: 100%
}

#Location {
  float:left;
}

.available{
  float: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#availabilityText{
  margin-left:-250px;
  margin-top:5px;
}

#questionsTitle{
  margin-top:20px;
}

#createProfileButton{
  padding:10px;
  width: 80%;;
  border-radius:100px;
}

#otherText-container {
  margin-top:-48px;
  margin-left:130px;
}

#radioButtonGroup{
  padding-left:10px;
}

#radioButtonGroup-container{
  text-align: left;
  margin-left:175px;
}

#professionIcon{
  margin-left:-170px;
  margin-bottom: 16px;
  
}

#professionText{
  font-size: 18px;
  font-style:bold;
  margin-left:5px;
}

#professionText-container{
  margin-top:40px;
}

#availabilitySilder-container{
  margin-left:120px;
  margin-bottom:35px;
}

#availabilitySilder{
  margin-left:175px;
}


.fa-id-card-o, .fa-globe, .fa-users{
  margin-right: 15px;
  color: rgb(60, 60, 60);
}